/* - - - - -Imports- - - - - */

/* TODO: add linkedin to the contact section */

@import url("https://fonts.googleapis.com/css?family=Raleway:500");
@import url("https://fonts.googleapis.com/css?family=Raleway:400");
@import url("https://fonts.googleapis.com/css?family=Raleway:300");
@import url("https://fonts.googleapis.com/css?family=Raleway:100");

/* - - - - -Box Sizing Removal- - - - - */
html {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer;
}

body {
  margin: 0 auto;
}

/* - - - - -  Assets - - - - - */

svg {
  height: 8rem;
  width: 8rem;
}

/* - - - - - - Colours - - - - - - */
:root {
  --black: #131313;
  --white: #eeeff0;
  --accent: #a0ece8;
  --accent-dark: #1a5770;
  --secondary: #4982ba;
  --secondary-dark: #415e82;
  --main: #1e6a8b;
  --purple: #4b2d72;
}

/* - - - - - -  Animations - - - - - - */

@keyframes slideInRight {
  from {
    transform: translateX(-1rem);
  }
  to {
    transform: translateX(0rem);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(1rem);
  }
  to {
    transform: translateX(0rem);
  }
}

/* - - - - - - Typography - - - - - - */

html {
  font-size: 100%;
} /*16px*/

body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  line-height: 1.75;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  line-height: 1;
}

h1 {
  margin-top: 0;
  font-size: 2.1rem;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.618rem;
}

h5 {
  font-size: 0.918rem;
}

p {
  font-weight: 400;
  font-size: 1.1rem;
  margin-bottom: 0rem;
}

small,
.text_small {
  font-size: 0.618rem;
}

/* - - - - - - Header - - - - - - */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 3rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-radius: 0.25rem;
  width: 4rem;
  height: 4rem;
  box-shadow: var(--black) 6px 2px 16px 1px;
}

/* - - - - - - Nav - - - - - - */

.nav-bar {
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
}

.nav-bar li {
  display: grid;
}

.nav-bar li a {
  align-self: center;
  justify-self: center;
}

.nav-li {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0rem 1rem;
}

/* - - - - - - Hamburger- - - - - - */

.hamburger {
  position: fixed;
  top: 2rem;
  right: 1rem;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
  display: flex;
  position: fixed;
  right: -150%;
  top: 5.35rem;
  gap: 1rem;
  flex-direction: column;
  width: max(33%, 60vw);
  text-align: center;
  transition-duration: 0.3s;
  background-color: rgb(245, 245, 245);
}

.bar {
  position: sticky;
  display: block;
  box-shadow: white 0px 1px 16px 1px;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--purple);
}

.nav-menu.active {
  right: 0;
  padding: 1rem 2rem 2rem 2rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

#about-me {
  color: var(--main);
}

#des-projects {
  color: var(--secondary-dark);
}

#dev-projects {
  color: var(--secondary-dark);
}

#contact-me {
  padding: 0.5rem;
  color: var(--accent);
  border: var(--secondary) solid 1px;
  background-color: #1b1b00;
  border-radius: 0.5rem;
  transition-duration: 0.2s;
}

#contact-me:hover {
  background-color: var(--accent);
}

#about-me:hover,
#des-projects:hover,
#dev-projects:hover,
#contact-me:hover {
  color: var(--black);
}

/* - - - - - - Main - - - - - - */

section {
  margin: 0 auto;
  padding: 1.5rem;
  color: var(--white);
}
/* - - - - - - About Me - - - - - - */
#about {
  background-color: var(--main);
  box-shadow: #000000 0px 12px 36px;
}

#about .section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
}

.profile-pic {
  display: flex;
  justify-content: center;
}

.profile-pic img {
  box-shadow: rgb(4, 29, 40) 0px -2px 20px 12px;
  width: min(20rem, 100%);
  background-color: rgb(255, 234, 0);
  border-radius: 2%;
  margin: 1rem;
  padding: 0rem;
}


/* - - - - - - Projects - - - - - - */
#designs,
#dev {
  box-shadow: #000000 0px 12px 36px;
}

.section-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.section-title {
  justify-self: flex-start;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 80vw;
  align-items: center;
  justify-items: center;
}

.project-container .project-anchor {
  box-shadow: #0000007a 0rem 1rem 1rem;
  transition-duration: 0.25s;
}

.project-card {
  display: grid;
  padding: 0.5rem;
  grid-template-columns: 1fr;
  background-color: var(--white);
  color: var(--black);
  margin-bottom: 2rem;
  box-shadow: #000000 0px -5px 16px;
  border-radius: 0.35rem;
  width: 75vw;
}

.project-image {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-image a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.project-anchor:active {
  box-shadow: none;
  cursor: pointer;
  border: outset var(--accent-dark) 3px;
}

.project-image img {
  width: max(8rem, 100%);
}

#chesss {
  width: min(12rem, 100%);
}

.project-title {
  text-align: center;
  text-decoration: underline;
  margin: 0.5rem 0rem;
}

.project-text {
  display: grid;
  justify-items: center;
  align-items: flex-start;
  height: 100%;
}

.project-description {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 0rem 0.5rem;
}

.git-link {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  align-self: flex-end;
  padding-right: 1rem;
  margin-bottom: 0.5rem;
  width: 15rem;
  fill: var(--black);
  text-align: center;
}

.git-link:hover {
  fill: var(--purple);
  color: var(--purple);
}

.git-link svg {
  width: 3.5rem;
  height: 3.5rem;
  margin: 0.5rem;
}

#designs {
  background-color: var(--secondary);
}

#dev {
  background-color: var(--secondary-dark);
}

/* - - - - - - Call to action - - - - - - */

#cta {
  background: linear-gradient(rgba(0, 0, 0, 0.659), rgba(0, 0, 0, 0.658)),
    center no-repeat url("../images/cta.png");
  height: 18rem;
  box-shadow: #131313 0px 0px 16px 2px;
  margin: 2rem auto;
}

.cta-banner {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cta-message {
  line-height: 1.2;
}

#contact-me-button {
  border: var(--black) solid 1px;
  background-color: var(--white);
  opacity: 90%;
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 2rem;
  text-align: center;
  padding: 0.5rem 0rem;
  width: min(12rem, 100%);
}

#contact-me-button:hover {
  background-color: var(--black);
  color: var(--white);
  opacity: 100%;
  cursor: pointer;
}

#contact h2 {
  border: solid black 1px;
  background-color: var(--white);
  font-weight: 400;
  text-align: center;
  border-radius: 1rem;
  padding: 1rem;
  transition-duration: 0.2s;
}
#contact h2:hover {
  border: solid black 1px;
  background-color: black;
  color: var(--white);
}

/* - - - - - - Footer - - - - - - */

footer {
  border-top: solid var(--black) 1px;
  background-color: var(--secondary);
  margin: 0 auto;
  box-shadow: #131313 0px -2px 16px 2px;
}

.footer-container {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  border: solid var(--white) 1px;
  background-color: var(--white);
  box-shadow: var(--black) 0px -2px 19px 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
}

.footer-logo p {
  margin: 0;
}

.footer-nav .nav-bar {
  width: 100%;
  color: var(--black);
}

.footer-nav .nav-bar .nav-li {
  font-size: 1rem;
  padding: 0;
}

.footer-nav .nav-bar .nav-li:hover {
  color: var(--white);
}

footer .sub-footer {
  background-color: var(--secondary-dark);
  color: var(--white);
  text-align: center;
  box-shadow: #131313 0px -2px 32px 0.5px;
}

/* - - - - - - Media Queries - - - - - - */

@media only screen and (min-width: 45rem) {
  html {
    font-size: 105%;
    padding: 0;
    margin: 0;
    border: none;
  }

  nav {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .nav-li {
    align-self: flex-end;
    padding: 0rem;
  }

  #about .section-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .project-card {
    grid-template-columns: min(40%, 20rem) 5% 50%;
    grid-template-rows: 18rem;
    align-items: center;
    justify-items: space-evenly;
  }

  .project-text {
    grid-template-rows: 2rem 12rem 1fr;
    grid-column: 3/5;
  }

  .project-description {
    align-self: center;
  }
}

@media only screen and (min-width: 60rem) {
  header {
    display: grid;
    grid-template-columns: 15rem 1fr;
    padding:1rem 0rem;
  }
  .hamburger {
    display: none;
    cursor: pointer;
  }

  .nav-menu {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    justify-self: flex-end;
    position: unset;
    gap: 0rem;
    background-color: unset;
  }

  .logo-container {
    margin-left:3rem;
  }

}

@media only screen and (min-width: 85rem) {
  html {
    font-size: 110%;
  }

  .project-container {
    grid-template-columns: 1fr 1fr 1fr;
    width: 90vw;
    align-items: stretch;
    justify-items: space-around;
    gap: 2.5rem;
  }

  .project-card {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    width: 27vw;
  }

  #designs .project-card {
    grid-template-columns: 1fr;
    grid-template-rows: 15rem 1fr;
    width: 27vw;
  }

  .project-image {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .project-image img {
    width: min(15rem, 80%);
  }

  .project-text {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 3fr 1fr;
    padding: 0.25rem;
    align-self: flex-start;
    text-align: center;
    grid-column: 1/2;
    grid-row: 2/4;
  }

  #designs .project-text {
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 1fr 1fr;
  }

  .project-title {
    margin-bottom: 0.5rem;
  }
  .project-description {
    align-self: flex-start;
  }
}
