/* - - - - -Imports- - - - - */

/*TODO: fix centering of the logo*/

@import url("https://fonts.googleapis.com/css?family=Raleway:500");
@import url("https://fonts.googleapis.com/css?family=Raleway:400");
@import url("https://fonts.googleapis.com/css?family=Raleway:300");
@import url("https://fonts.googleapis.com/css?family=Raleway:100");

/* - - - - -Box Sizing/padding-margin removal- - - - - */
html {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer;
}

body {
  margin: 0 auto;
  padding: 0 auto;
}

/* - - - - -  Assets - - - - - */

svg {
  height: 8rem;
  width: 8rem;
}

/* - - - - - - Colours - - - - - - */
:root {
  --black: #131313;
  --white: #eeeff0;
  --accent-dark: #502fbb;
  --secondary: #4982ba;
  --secondary-dark: #537aa9;
  --main: #1e6a8b;
  --accent: #a5f5f1;
}

/* - - - - - -  Animations - - - - - - */

@keyframes slideInRight {
  from {
    transform: translateX(-1rem);
  }
  to {
    transform: translateX(0rem);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(1rem);
  }
  to {
    transform: translateX(0rem);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* - - - - - - Typography - - - - - - */

html {
  font-size: 100%;
} /*16px*/

body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  line-height: 1.75;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  line-height: 1;
}

h1 {
  margin-top: 0;
  font-size: 2.1rem;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.618rem;
}

h5 {
  font-size: 0.918rem;
}

p {
  font-weight: 400;
  font-size: 1.1rem;
}

small,
.text_small {
  font-size: 0.618rem;
}

/* - - - - - - Header - - - - - - */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  width: 7rem;
  height: 7rem;
  box-shadow: var(--black) 6px 2px 16px 1px;
}

.nav-bar {
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
}

.nav-li {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0rem 1rem;
}

#about-me {
  color: var(--main);
}

#des-projects {
  color: var(--secondary);
}

#dev-projects {
  color: var(--secondary-dark);
}

#contact-me {
  padding: 0.5rem;
  color: var(--accent);
  border: var(--secondary) solid 1px;
  background-color: #1b1b00;
  border-radius: 0.5rem;
}

#contact-me:hover {
  background-color: #3a2c3a;
}

#about-me:hover,
#des-projects:hover,
#dev-projects:hover,
#contact-me:hover {
  color: var(--black);
}

/* - - - - - - Main - - - - - - */

section {
  margin: 0 auto;
  padding: 1.5rem;
  color: var(--white);
}
/* - - - - - - About Me - - - - - - */
#about {
  background-color: var(--main);
  box-shadow: #000000 0px 12px 36px;
}

#about .section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
}

.profile-pic {
  display: flex;
  justify-content: center;
}

.profile-pic img {
  box-shadow: rgb(4, 29, 40) 0px -2px 20px 12px;
  width: min(20rem, 100%);
  border-radius: 50%;
  margin: 1rem;
  padding: 0rem;
}

/* - - - - - - Projects - - - - - - */
#designs,
#dev {
  box-shadow: #000000 0px 12px 36px;
}

.section-container {
  display: grid;
  grid-template-columns: 1fr;
}
.project-container {
  display: grid;
  align-items: center;
}

.project-anchor {
  text-decoration: none;
  color: var(--black);
}

.project-container .project-card:hover {
  box-shadow: #0000007a 0rem 1rem 1rem;
  transform: scaleX(1.02) scaleY(1.02);
  transition-duration: 0.25s;
}

.project-card {
  display: grid;
  padding: 1rem;
  grid-template-columns: 1fr;
  background-color: var(--white);
  color: var(--black);
  margin-bottom: 2rem;
  box-shadow: #000000 0px -5px 16px;
  border-radius: .25rem;
}

.project-image {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-image img {
  width: max(15rem, 80%);
}

#chesss {
  width: min(12rem,100%)
}

.project-title {
  text-align: center;
  text-decoration: underline;
  margin: 1.5rem 0rem;
}

#designs {
  background-color: var(--secondary);
}

#dev {
  background-color: var(--secondary-dark);
}

/* - - - - - - Call to action - - - - - - */

#cta {
  background: linear-gradient(rgba(0, 0, 0, 0.659), rgba(0, 0, 0, 0.658)),
    center no-repeat url("../images/cta.png");
  height: 18rem;
  box-shadow: #131313 0px 0px 16px 2px;
  margin: 2rem auto;
}

.cta-banner {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cta-message {
  line-height: 1.2;
}

#contact-me-button {
  border: var(--black) solid 1px;
  background-color: var(--white);
  opacity: 90%;
  color:var(--black);
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 2rem;
  text-align: center;
  padding: .5rem 0rem;
  width: min(12rem, 100%);
}

#contact-me-button:hover {
  background-color: var(--accent);
  color: var(--white);
  opacity: 100%;
  cursor: pointer;
}

#contact h2 {
  border: solid black 1px;
  background-color: var(--white);
  font-weight: 400;
  text-align: center;
  border-radius: 1rem;
  padding: 1rem;
  transition-duration: 0.2s;
}
#contact h2:hover {
  border: solid black 1px;
  background-color: black;
  color: var(--white);
}

/* - - - - - - Footer - - - - - - */

footer {
  border-top: solid var(--black) 1px;
  background-color: var(--secondary);
  margin: 0 auto;
  box-shadow: #131313 0px -2px 16px 2px;
}

.footer-container {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  border: solid var(--white) 1px;
  background-color: var(--white);
  box-shadow: var(--black) 0px -2px 19px 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
}

.footer-nav .nav-bar {
  width: 95vw;
  color: var(--black);
}

.footer-nav .nav-bar .nav-li {
  font-size: 1rem;
  padding: 0;
}

.footer-nav .nav-bar .nav-li:hover {
  color: var(--white);
}

footer .sub-footer {
  background-color: var(--secondary-dark);
  text-align: center;
  box-shadow: #131313 0px -2px 32px .5px;
}

/* - - - - - - Media Queries - - - - - - */

@media only screen and (min-width: 45rem) {
  html {
    font-size: 110%;
    padding: 0;
    margin: 0;
    border: none;
  }

  .nav-container {
    display: flex;
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }

  .nav-bar {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  #about .section-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .project-card {
    grid-template-columns: min(40%, 20rem) 5% 50%;
    grid-template-rows: 18rem;
    align-items: center;
    justify-items: space-evenly;
  }

  .project-text {
    align-self: center;
    grid-column: 3/5;
  }
}

@media only screen and (min-width: 90rem) {
  html {
    font-size: 125%;
  }

  .nav-container {
    flex-wrap: wrap;
  }

  .nav-bar {
    grid-template-columns: repeat(4, 1fr);
  }
  .nav-li {
    padding: 0rem;
  }

  .project-container {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
    justify-items: space-between;
    gap: 1rem;
  }

  .project-card,
  #dev .project-card {
    grid-template-columns: 1fr;
    grid-template-rows: 15rem 22rem;
  }

  .project-image {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .project-image img {
    width: min(20rem, 80%);
  }

  .project-text {
    padding: 1rem;
    align-self: flex-start;
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
